doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Nikolaj T. Mücke

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Clarence Taylor
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#publications') Publications
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#teaching_and_supervision') Teaching & Supervision
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#conferences_workshops_masterclasses') Conferences, Workshops & Masterclasses
                    //li.nav-item
                    //    a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#research_interests') Research Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Awards
                    //- li.nav-item
                    //-     a.nav-link.js-scroll-trigger(href='#spatialise') Spatialise

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Nikolaj Takata
                        span.text-primary Mücke
                    .subheading.mb-5
                        | 
                        a(href='mailto:ntmucke@tudelft.nl') ntmucke@tudelft.nl · 
                        a(href='mailto:nmucke@gmail.com') nmucke@gmail.com
                    p.lead.mb-5
                        | I am a postdoc at Delft University of Technology, the Netherlands. 
                        | My research interests include
                        | scientific computing and deep learning with a focus on generative models, uncertainty quantification, 
                        | data assimilation, physics-consistent machine learning, and fluid dynamics.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/nikolajmucke/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/nmucke')
                            i.fab.fa-github
                        a.social-icon(href='https://www.researchgate.net/profile/Nikolaj-Muecke')
                            i.fab.fa-researchgate
                        a.social-icon(href='https://scholar.google.dk/citations?user=LKzoC-YAAAAJ&hl=en#')
                            i.fa.fa-graduation-cap


            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .subheading.mb-3 Current
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 Postdoc
                            .subsubheading.mb-3 Delft University of Technology
                            p
                                | I am working as a postdoc in #[a( href='https://www.urbanair-project.eu/' ) UrbanAIR] project.
                                | The goal of the project is to develop a framework for urban air quality and heat dynamics forecasting.
                                | My role is specifically focused on the development of data assimilation and uncertainty quantification methods using 
                                | deep learning techniques.
                        .flex-shrink-0
                            span.text-primary November 2025 - Present

                    .subheading.mb-3 Previous

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 Postdoc
                            .subsubheading.mb-3 Centrum Wiskunde & Informatica
                            p
                                | Together with Benjamin Sanderse, I developed generative models for physics applicatiions.
                                | The aim was to perform probabilistic forecasting and posterior sampling that adhere to the underlying laws of physics.
                        .flex-shrink-0
                            span.text-primary April 2024 - October 2025

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 AI Lead
                            .subsubheading.mb-3 Spatialise
                            p
                                | I am the lead developer of the Spatialise AI platform, SOCMO. 
                                | My role includes the development of MLOps pipelines. This includes 
                                | data science aspects such as model training, testing, and hyperparameter tuning.
                                | Furthermore, I am responsible for the ML engineer aspects such as
                                | model deployment, monitoring, and scaling.
                        .flex-shrink-0
                            span.text-primary February 2022 - August 2025

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 PhD Candidate
                            .subsubheading.mb-3 Centrum Wiskunde & Informatica
                            p
                                | My PhD project dealt with deep learning for data assimilation and inverse problems in physics applications.
                                | The aim was to perform real-time data assimilation with uncertainty quantification using deep learning techniques.
                                | My supervision were Cornelis Oosterlee and Sander Bohté. 
                        .flex-shrink-0
                            span.text-primary September 2019 - March 2024


                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 Research Assistant
                            .subsubheading.mb-3 Technical University of Denmark, DTU Compute
                            p
                                | The research project dealt with low noise supercontinuum sources for ultra-high resolution 800nm
                                | optical coherence tomography for glaucoma diagnosis. I was working on GPU acceleration of a C++
                                | implementation of the 4th order Runge-Kutta Interaction Picture method to solve the generalized
                                | nonlinear Schrodinger Equation as well as uncertainty quantification of the input sources.
                        .flex-shrink-0
                            span.text-primary February 2022 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 Student Assistant
                            .subsubheading.mb-3 Ørsted, Numerical Competence Centre
                            p
                                | My work was included programming and mathematical modelling of
                                | various elements within the wind energy sector. Examples are time series models
                                | for weather with the goal of predicting production time of a wind turbine farm and
                                | analyzing buckling capacity of soil supported structures using partial differential
                                | equations and optimization techniques.
                        .flex-shrink-0
                            span.text-primary 2016 - 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 Science Communicator
                            .subsubheading.mb-3 Experimentarium
                            p
                                | Experimentarium is a science museum, mostly for children and young adults. My job consisted
                                | of developing and performing science shows and experiments in front of large crowds and make
                                | complicated phenomena understandable and comprehensible for the layman and school classes.
                        .flex-shrink-0
                            span.text-primary February 2014 - 2016

            hr.m-0

            
            // Publications
            section#publications.resume-section
                .resume-section-content
                    h2.mb-5 Publications

                    .subheading.mb-3 Published Papers

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 
                            .subsubheading.mb-3 #[a( href='https://www.nature.com/articles/s41598-024-69901-7' ) The Deep Latent Space Particle Filter for Real-Time Data Assimilation with Uncertainty Quantification]
                            div Authors: Nikolaj T. Mücke, Sander Bohté, and Cornelis W. Oosterlee
                            p Published in Scientific Reports
                        .flex-shrink-0
                            span.text-primary 2024

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 
                            .subsubheading.mb-3 #[a( href='https://www.sciencedirect.com/science/article/pii/S1750583624001336' ) AI enhanced data assimilation and uncertainty quantification applied to Geological Carbon Storage]
                            div Authors: Gabriel S. Seabra, Nikolaj T. Mücke, Vinicius L. S. Silva, Denis Voskov, Femke Vossepoel
                            p Published in International Journal of Greenhouse Gas Control
                        .flex-shrink-0
                            span.text-primary 2024

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 
                            .subsubheading.mb-3 #[a( href='https://www.sciencedirect.com/science/article/pii/S0898122123003280' ) Markov Chain Generative Adversarial Neural Networks for Solving Bayesian Inverse Problems in Physics Applications]
                            div Authors: Nikolaj T. Mücke, Benjamin Sanderse, Sander Bohté, and Cornelis W. Oosterlee
                            p Published in the special issue Scientific Machine Learning: Blending of traditional mechanistic modeling with machine learning methodologies in the journal Computers & Mathematics with Applications 
                        .flex-shrink-0
                            span.text-primary 2023

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 
                            .subsubheading.mb-3 #[a( href='https://www.mdpi.com/1424-8220/23/13/6179' ) A Probabilistic Digital Twin for Leak Localization in Water Distribution Networks Using Generative Deep Learning]
                            div Authors: Nikolaj T. Mücke, Prerna Pandey, SHashi Jain, Sander M. Bohté, and Cornelis W. Oosterlee
                            p Published in Sensors
                        .flex-shrink-0
                            span.text-primary 2023
                        
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 
                            .subsubheading.mb-3 #[a( href='http://www.iwwwfb.org/Abstracts/iwwwfb37/IWWWFB37GLOBAL013.pdf' ) Reduced Order Modelling for Dispersive and Nonlinear Water Wave Modelling]
                            div Authors: Fatma Güler, Nikolaj T. Mücke, Allan Peter Engsig-Karup
                            p Published in Proceedings of the 37th International Workshop on Water Waves and Floating Bodies
                        .flex-shrink-0
                            span.text-primary 2022

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 
                            .subsubheading.mb-3 #[a( href='https://www.sciencedirect.com/science/article/pii/S1877750321000934' ) Reduced order modeling for parameterized time-dependent PDEs using spatially and memory aware deep learning]
                            div Authors: Nikolaj T. Mücke, Sander M. Bohté, and Cornelis W. Oosterlee
                            p Published in Journal of Computational Science
                        .flex-shrink-0
                            span.text-primary 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 
                            .subsubheading.mb-3 #[a( href='https://ieeexplore.ieee.org/abstract/document/9029284/' ) Reduced Order Modeling for Nonlinear PDE-constrained Optimization using Neural Networks]
                            div Authors: Nikolaj T. Mücke, Lasse Hjuler Christiansen, Allan Peter Engsig-Karup, and John Bagterp Jørgensen
                            p Published at Conference on Decision and Control (CDC)
                        .flex-shrink-0
                            span.text-primary 2019
                    
                    .subheading.mb-3 Preprints

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 
                            .subsubheading.mb-3 #[a( href='https://arxiv.org/abs/2508.13770' ) Generative Super-Resolution of Turbulent Flows via Stochastic Interpolants]
                            div Authors: Martin Schiødt, Nikolaj T. Mücke, and Clara Marika Velte
                        .flex-shrink-0
                            span.text-primary 2025

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 
                            .subsubheading.mb-3 #[a( href='https://arxiv.org/abs/2504.05852' ) Physics-aware generative models for turbulent fluid flows through energy-consistent stochastic interpolants]
                            div Authors: Nikolaj T. Mücke and Benjamin Sanderse
                        .flex-shrink-0
                            span.text-primary 2025


            hr.m-0


            // Teaching and supervision
            section#teaching_and_supervision.resume-section
                .resume-section-content
                    h2.mb-5 Teaching and Supervision

                    .subheading.mb-3 Supervision

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 Turbulence Closure Modeling using Stochastic Interpolants
                            .subsubheading.mb-1 Master thesis, Technical University of Eindhoven
                        .flex-shrink-0
                            span.text-primary 2024 - 2025

                    
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 Diffusion Models for Time Series Denoising
                            .subsubheading.mb-1 Bachelor thesis, Utrecht University
                        .flex-shrink-0
                            span.text-primary 2023 - 2024

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 Guidance in Using Robotic-Arm Assisted Surgical System for Knee Arthroplasty
                            .subsubheading.mb-1 Master thesis, Utrecht University
                        .flex-shrink-0
                            span.text-primary 2022 - 2023

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 Stock Price Simulation under Jump-Diffusion Dynamics: A WGANs-Based Framework with Anomaly Detection Techniques
                            .subsubheading.mb-1 Master thesis, Utrecht University
                        .flex-shrink-0
                            span.text-primary 2022 - 2023

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 Hamiltonian Neural Networks for Fluid Flows
                            .subsubheading.mb-1 Internship, Centrum Wiskunde & Informatica
                        .flex-shrink-0
                            span.text-primary 2021
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 Traditional and ML approaches to generate and understand implied volatility surfaces
                            .subsubheading.mb-1 Master thesis, Technical University of Delft
                        .flex-shrink-0
                            span.text-primary 2020 - 2021
                    
                    .subheading.mb-3 Teaching

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 #[a( href='https://www.cwi.nl/en/events/masterclass-ci-12-13-may-2022/computation-imaging-masterclass-semester-program/' ) Computational Imaging masterclass]
                            .subsubheading.mb-1 Centrum Wiskunde & Informatica
                            .subsubheading.mb-1  - Lecturing
                        .flex-shrink-0
                            span.text-primary Spring 2022

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 Neural Networks in Finance
                            .subsubheading.mb-1 Utrecht University
                            .subsubheading.mb-1  - Lecturing, developing material, grading
                        .flex-shrink-0
                            span.text-primary Spring 2022

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 Scientific Computing for Differential Equations 2 (02687)
                            .subsubheading.mb-1 Technical University of Denmark
                            .subsubheading.mb-1  - Teaching assistant, grading
                        .flex-shrink-0
                            span.text-primary Spring 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 Advanced Engineering Mathematics 2 (01025)
                            .subsubheading.mb-1 Technical University of Denmark
                            .subsubheading.mb-1  - Teaching assistant, grading
                        .flex-shrink-0
                            span.text-primary Autumn 2018

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 Scientific Computing for Differential Equations (02685)
                            .subsubheading.mb-1 Technical University of Denmark
                            .subsubheading.mb-1  - Teaching assistant, grading
                        .flex-shrink-0
                            span.text-primary Spring 2018

            hr.m-0


            // Conferences, Workshops, masterclasses
            section#conferences_workshops_masterclasses.resume-section
                .resume-section-content
                    h2.mb-5 Conferences, Workshops & Masterclasses

                    .subheading.mb-3 Organized by Me


                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 Physics-consistent generative modeling
                            .subsubheading.mb-1 Minisymposium, ENUMATH 2025
                            .subsubheading.mb-1 Co-Organizer: Benjamin Sanderse
                        .flex-shrink-0
                            span.text-primary 2025

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 Deep Learning-Based Latent-Space Models for Scientific Computing
                            .subsubheading.mb-1 Minisymposium, SIAM Conference on Computational Science and Engineering
                            .subsubheading.mb-1 Co-Organizer: Wouter Edeling
                        .flex-shrink-0
                            span.text-primary 2023

                    
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 #[a( href='https://www.cwi.nl/en/groups/scientific-computing/events/workshop-digital-twins-for-pipe-transport-networks/' ) Workshop Digital Twins for Pipe Transport Networks]
                            .subsubheading.mb-1 Workshop, Centrum Wiskunde & Informatica
                            .subsubheading.mb-1 Co-Organizers: Prerna Pandey, Shashi Jain, Kees W. Oosterlee, Sander M. Bohte
                        .flex-shrink-0
                            span.text-primary 2023
                            
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 Machine Learning and Stochastic Modelling for Dynamical Systems
                            .subsubheading.mb-1 Minisymposium, SIAM Conference on Uncertainty Quantification
                            .subsubheading.mb-1 Co-Organizer: Wouter Edeling
                        .flex-shrink-0
                            span.text-primary 2022
                    

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 #[a( href='https://www.cwi.nl/en/groups/scientific-computing/events/workshop-30-november-2021/machine-learning-for-physics-based-modeling/' ) Workshop on Machine Learning for Physics-Based Modeling] 
                            .subsubheading.mb-1 Workshop, Centrum Wiskunde & Informatica
                            .subsubheading.mb-1 Co-Organizers: Prerna Pandey, Shashi Jain, Kees W. Oosterlee, Sander M. Bohte
                        .flex-shrink-0
                            span.text-primary 2021
                            

                    
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 #[a( href='https://www.cwi.nl/en/groups/scientific-computing/events/workshop-20-november-2020/ai-and-iot-for-flow-modeling/' ) AI and IoT for Flow Modeling] 
                            .subsubheading.mb-1 Workshop, Centrum Wiskunde & Informatica
                            .subsubheading.mb-1 Co-Organizers: Shashi Jain, Kees W. Oosterlee, Sander M. Bohte
                        .flex-shrink-0
                            span.text-primary 2020
                            
                    
            hr.m-0


            // Research Interests
            section#research_interests.resume-section
                .resume-section-content
                    h2.mb-5 Research Interests
                    p
                        | My research interests include numerical methods for partial differential equations, machine learning, and their applications in computational science and engineering. 
                        | I am particularly interested in the development of generative and reduced order models for parameterized partial differential equations using deep learning techniques
                        | and applying this to efficient real-time solving of inverse problems and data assimilation with uncertainty quantification in physics applications.
                    //p.mb-0
                    //    | When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .subheading.mb-3 Degrees

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 Mathematical Modeling and Computation
                            .subsubheading.mb-3 Master of Science, Technical University of Denmark
                        .flex-shrink-0
                            span.text-primary September 2016 - January 2019


                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 Mathematics and Technology
                            .subsubheading.mb-3 Bachelor of Science, Technical University of Denmark
                        .flex-shrink-0
                            span.text-primary September 2013 - June 2016
                    

                    .subheading.mb-3 Exchange Semesters
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 Technical University of Munich, Germany
                            .subsubheading.mb-3 Masters, Fakultät für Mathematik
                        .flex-shrink-0
                            span.text-primary 2017 - 2018

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 Adelaide University, Australia
                            .subsubheading.mb-3 Bachelors
                        .flex-shrink-0
                            span.text-primary 2015


                    .subheading.mb-3 Summer/Winter Schools
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 International Graduate Summer School on ”Frontiers of Applied and Computational Mathematics”
                            .subsubheading.mb-3 Shanghai Jiao Tong University, China
                        .flex-shrink-0
                            span.text-primary Summer 2018

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 Experiencing China
                            .subsubheading.mb-3 Tsinghua University, China
                        .flex-shrink-0
                            span.text-primary Summer 2017
            hr.m-0


            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Grants, Awards, & Certifications

                    .subheading.mb-3 Grants
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 NWO AINed XS Europe Grant
                            .subsubheading.mb-3 €50,000 for postdoc research project
                        .flex-shrink-0
                            span.text-primary 2024 - 2025

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 Oracle Research Grant
                            .subsubheading.mb-3 €34,000 to be spent on Oracle Cloud Compute resources
                        .flex-shrink-0
                            span.text-primary 2023

                    
                    .subheading.mb-3 Awards
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 Teaching Assistant of the Year
                            .subsubheading.mb-3 Awarded by the students at Technical University of Denmark
                        .flex-shrink-0
                            span.text-primary 2018


                    .subheading.mb-3 Certifications
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h5.mb-0 Coursera - Deep Learning Specialization
                            .subsubheading.mb-3 Coursera - Deep Learning Specialization
                        .flex-shrink-0
                            span.text-primary 2018
            

            // Spatialise
            //- section#spatialise.resume-section
            //-     .resume-section-content
            //-         h2.mb-5 #[a( href='https://spatiali.se/' ) Spatialise] 
            //-         p
            //-             | At Spatialise we are developing tool for predicting soil organic carbon (SOC) in agricultural fields. 
            //-             | The tool is based on a machine learning and remote sensing and enables instantanious predictions of SOC
            //-             | in large areas. My role as the AI lead includes the development of machine learning algorithms and
            //-             | MLOps pipelines for model training, testing, and deployment.

            //- hr.m-0

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')